.calcButtons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 1rem;
}
.buttonContainer > *:last-child {
  grid-column: span 2;
}
.symbolBox {
  height: 15px;
  display: flex;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
  }
}
.calcButtons button {
  border-radius: 40px;
}
.width2 {
  grid-column: span 2;
}
.height2 {
  grid-row: span 2;
}
